{% extends "base.html" %}
{% load cms_tags %}
{% load staticfiles %}
{% load sekizai_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{#{% block css %}#}
{##}
{##}
{#{% endblock css %}#}




{% block content %}
    {% addtoblock "css" %}
        <link href="{% static "css/leaflet.css" %}" rel="stylesheet">
    {% endaddtoblock "css" %}
    {% addtoblock "css" %}
        <link href="{% static "css/iconLayers.css" %}" rel="stylesheet">
    {% endaddtoblock "css" %}
     {% addtoblock "css" %}
        <link href="{% static "css/Control.FullScreen.css" %}" rel="stylesheet">
    {% endaddtoblock "css" %}
    {% addtoblock "css" %}
        <link href="{% static "css/MarkerCluster.css" %}" rel="stylesheet">
    {% endaddtoblock "css" %}
    {% addtoblock "css" %}
        <link href="{% static "css/MarkerCluster.Default.css" %}" rel="stylesheet">
    {% endaddtoblock "css" %}
    {% addtoblock "css" %}
        <link href="{% static "css/leaflet-search.css" %}" rel="stylesheet">
    {% endaddtoblock "css" %}

{% addtoblock "css" %}
        <link href="{% static "css/lightbox.min.css" %}" rel="stylesheet">
    {% endaddtoblock "css" %}

    {% addtoblock "css" %}
        <link href="{% static "css/map.css" %}" rel="stylesheet">
    {% endaddtoblock "css" %}
    <div id="#div-search-map">
        <!-- <input type="text" id="text-search-map">
<input type="button" id="button-search-map"value="search"> -->
<div id="img-search-map">
    
</div>
    </div>

<div id="map"> </div>


    {% addtoblock "js" %}
<script src="{% static "js/leaflet.js" %}"></script>
{% endaddtoblock "js" %}

{% addtoblock "js" %}
<script src="{% static "js/proj4.js" %}"></script>
{% endaddtoblock "js" %}

{% addtoblock "js" %}
<script src="{% static "js/iconLayers.js" %}"></script>
{% endaddtoblock "js" %}

{% addtoblock "js" %}
<script src="{% static "js/Control.FullScreen.js" %}"></script>
{% endaddtoblock "js" %}


{% addtoblock "js" %}
<script src="{% static "js/leaflet.markercluster.js" %}"></script>
{% endaddtoblock "js" %}

{% addtoblock "js" %}
<script src="{% static "js/proj4leaflet.js" %}"></script>
{% endaddtoblock "js" %}

{% addtoblock "js" %}
<script src="{% static "js/leaflet-search.js" %}"></script>
{% endaddtoblock "js" %}    

{% addtoblock "js" %}
<script src="{% static "js/lightbox.min.js" %}"></script>
{% endaddtoblock "js" %}

{% addtoblock "js" %}
<script src="{% static "js/snap.svg.js" %}"></script>
{% endaddtoblock "js" %}

{% addtoblock "js" %}
<script src="{% static "js/leaflet.bezier.js" %}"></script>
{% endaddtoblock "js" %}

{% addtoblock "js" %}
 <script src="{% static "js/map-santander-covid-19/data.js" %}"></script>
{% endaddtoblock "js" %}

 {% addtoblock "js" %}
 <script src="{% static "js/map-santander-covid-19/map-santander-covid-19.js" %}"></script>
{% endaddtoblock "js" %}


{% endblock content %}



{#{% block js %}#}
{##}
{#    #}
{##}
{#{% endblock js %}#}